node_modules
.idea
.vscode
node_modules/
.gitignore
.elasticbeanstalk/
/config/sqlConfig.js


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

/scratch.js
